*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body {
	font-family: "GothaProLig", sans-serif;
	font-size: 14px;
	background: url(../img/bg.png) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*Header content*/
.header-content {
	display: inline-block;
	width: 100%;
}
.logo {
	width: 30%;
	float: left;
	padding-left: 32px;
	line-height: 0;
}
.logo h1 {
	margin-bottom: 15px;
	font-size: 44px;
	line-height: 30px;
	letter-spacing: -0.1px;
	text-transform: uppercase;
	font-weight: 400;
	color: #fcfbfb;
}
.logo h1 b {
	font-family: "GothaProMed",sans-serif;
	font-weight: 700;
}
.logo p {
	width: 110%;
	margin-left: -32px;
	letter-spacing: 0.2px;
	text-align: center;
	font-size: 15px;
	color: #fcfbfb;
}
.contacts {
	float: right;
	width: 43%;
	line-height: 0;
}
.feedback-call {
	float: left;
	color: #fcfbfb;
}
.company-telephone {
	margin-bottom: 20px;
	font-size: 28px;
	line-height: 30px;
}
.backcall-title {
	font-size: 15px;
	text-align: right;
}
.backcall-title a {
	outline: none;
	color: #fcfbfb;
	border-bottom: 1px solid rgba(255,255,255,0.6);
	transition: all 0.5s;
}
.backcall-title a:hover {
	color: #fcfbcc;
	border-bottom: 1px solid rgba(255,255,255,1);
}
.feedback-email {
	float: right;
	margin-right: 35px;
	color: #fcfbfb;
	font-size: 27px;
	font-weight: 300;
	line-height: 30px;
}
.feedback-title {
	margin-top: -21px;
	font-size: 15px;
	text-align: right;
}
/*Main content*/
.content-block {
	width: 120%;
	padding-top: 40px;
	padding-right: 50px;
	text-align: center;
}
.content-block h2,h3 {
	font-size: 45px;
	letter-spacing: 0.4px;
	line-height: 0;
	color: #fcfbfb;
	font-family: 400;
}
.content-block h2 {
	letter-spacing: 1.39px;
	font-family: "Gotha", sans-serif;
}

.content-block h3 {
	line-height: 20px;
	padding-left: 25px;
}
.content-block p {
	width: 74%;
	margin: 0 auto;
	padding-left: 18px;
	padding-top: 4px;
	line-height: 35px;
	font-family: Tahoma,sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: #fcfbfb;
}
.form-box {
	width: 68.8%;
	height: 80px;
	margin-left:  210px;
	margin-top: 40px;
	margin-bottom: -5px;
	padding-right: 10px;
	text-align: center;
	line-height: 80px;
	background-color: rgba(17,17,17,0.47);
	transition: all 0.5s;
}
.form-box:hover {
	background-color: rgba(17,17,17,0.7);
}
.form-block input[type=text] {
	width: 61%;
	height: 59px;
	margin: 0 5px 0 10px;
	padding-left: 10px;
	outline: none;
	font-size: 16px;
}
.form-block input[type=submit] {
	width: 35%;
	height: 59px;
	outline: none;
	border: none;
	background-color: #fac04b;
	text-align: center;
	font-size: 17px;
	color: #404041;
	text-transform: uppercase;
	transition: all 0.5s;
}
.form-block input[type=submit]:hover {
	color: #400219;
	background-color: #fce83c;
}
.form-block input[type=submit]:active {
	background-color: #fac04b;
}
.company-advantages {
	width: 109%;
	margin-left: 1px;
	margin-top: 25px;
}
.first-advs-block {
	float: left;
	width: 20%;
	margin-left: 47px;
	text-align: center;
	cursor: pointer;
	transition: all 0.7s;
}
.advs-numbers {
	font-family: "GothaProMed",sans-serif;
	font-size: 37px;
	font-weight: 900;
}
.advs-title {
	margin-top: 0;
	margin-bottom: 7px;
	font-size: 18px;
	font-family: "GothaProMed",sans-serif;
}
.advs-bottom-line {
	display: block;
	width: 30%;
	height: 5px;
	margin: 0 auto;
	background: #fac04b;
	transition: all 0.5s;
}
.first-advs-block:hover .advs-bottom-line{
	background: #000;
}
.first-advs-block:hover  {
	background: #e24ccb; /* Old Browsers */
	background: -webkit-linear-gradient(top left,#e24ccb,#3d5448); /*Safari 5.1-6*/
	background: -o-linear-gradient(top left,#e24ccb,#3d5448); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top left,#e24ccb,#3d5448); /*Fx 3.6-15*/
	background: linear-gradient(top left, #e24ccb, #3d5448); /*Standard*/
}
.first-advs-block .percent-text:before {
	content: "%";
	position: absolute;
	right: 23.7%;
}
/*Footer*/
footer {
	margin-top: 22px;
}
.footer-content b {
	padding-left: 22px;
	color: #fdfcfc;
	font-size: 24px;
	font-weight: 400;
	line-height: 48px;
}
.footer-content a {
	margin-left: 315px;
	color: #fdfcfc;
	font-size: 18px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	transition: all 0.5s;
}
.footer-content a:hover {
	color: #fcfbcc;
	border-bottom: 1px solid rgba(255,255,255,1);
}
.footer-content a:active {
	color: #fdfcfc;
}
/*Popup Form*/
#callback {
	position: relative;
	max-width: 400px;
	max-height: 340px;
	padding: 20px 20px;
	margin: auto;
	background-color: #f0f0f0;
	border-radius: 5px;
	transform: all 0.5s;
}
#callback .mfp-close {
	position: absolute;
	left: 100%;
	top: 20px;
	width: 57px;
	height: 52px;
	background-color: #eb7579;
	color: #fff;
	font-size: 60px;
	text-align: center;
	transition: all 0.5s;
	font-family: "GothaProLig", sans-serif;
}
#callback p {
	width: 97%;
	color: #010101;
	font-size: 17px;
	font-weight: 500;
	text-align: center;
}
#callback  input[type=text] {
	width: 358px;
	height: 60px;
	margin-top: 15px;
	padding-left: 15px;
	outline: none;
	background-color: white;
	border: 1px solid #ccc;
}
.button-popup {
	width: 359px;
	height: 60px;
	margin-top: 15px;
	background-color: #fce83c;
	border: none;
	text-transform: uppercase;
	color: #302e29;
	transition: all 0.5s;
}
.button-popup:hover {
	background-color: #fac04b;;
}
.button-popup:active {
	background-color: #fce83c;
}
/*Video container popup*/ 
#video-box {
	width: 70%;
	height: 510px;
	margin: 0 auto;
	padding: 0 0;
	border: 5px solid  #403b4a ;
}

/*Вторая страница products*/
/*Отмена bg картинки для второй страницы*/
.products-container {
	background: none;
}
/*Стили для header*/
.products-logo {
	width: 70%;
	height: 365px;
	margin: 3.5% auto;
	padding-top: 12%;
	background: url(../img/logo.png) no-repeat;
	background-position: 55% 0;
	text-align: center;
	line-height: 20px;
}
.products-logo h1 {
	margin-right: 70px;
	font-size: 40px;
	color: #fcfbcc;
	font-weight: 400;
	line-height: 30px;
}
.products-logo h1 b {
	font-family: "GothaProMed",sans-serif;
}
.products-logo p {
	margin-left: 15px;
	font-family: "GothaProReg",sans-serif;
	font-size: 25px;
	color: #3e3e3e;
	line-height: 30px;
	text-align: center;
	font-weight: 700;
}
.down-nav-button {
	width: 19%;
	height: 70px;
	margin: 7.9% 37.6%;
	text-align: center;
	line-height: 180px;
	font-size: 20px;
	font-family: "GothaProReg",sans-serif;
	font-weight: 700;
	color: #3e3e3e;
	background: url(../img/down.png) no-repeat center;

}
/*Main products*/ 
.products-main {
	background: #F5F6E4;
}
.products-box {
	width: 100%;
	text-align: center;
}
.video-box-title p,
.products-box-title p {
	margin-top: 13px;
	color: #3e3e3e;
	font-family: "GothaProReg",sans-serif;
	font-size: 43px;
	line-height: 40px;
	font-weight: 900;
}
.products-box-title p b {
	font-size: 28px;
	font-weight: 400;
}
.products-item {
	float: left;
	width: 30%;
	height: 375px;
	margin-left: 30px;
	background: #fff;
	-webkit-box-shadow: 0px 1px 6px 2px #f35ea2;
	-moz-box-shadow: 0px 1px 6px 2px #f35ea2;
	box-shadow: 0px 1px 6px 2px #f35ea2;
	transition: all 0.5s;
}
.products-item h5 {
	margin-top: 7%;
	color: #383231;
	font-family: "GothaProMed",sans-serif;
	font-size: 23px;
	font-weight: 900;
	line-height: 20px;
}
.products-item img {
	width: 70%;
	height: 40%;
	margin: 0% 10%;
}
.products-item .price-button {
	display: block;
	width: 80%;
	height: 50px;
	margin-top: 23%;
	margin-left: 10%;
	border-radius: none;
	outline: none;
	cursor: inherit;
	line-height: 50px;
	font-family: "GothaProMed",sans-serif;
	font-size: 23px;
	font-weight: 900;
	text-transform: uppercase;
	color: #f4be2b;;
	background-image: linear-gradient(94deg, #f761a1 0%, #f761a1 38%, #8c1bab 98%, #8c1bab 100%);
	border-radius: 4px;
	transition: all 0.5s;
}
.products-item .price-button .old-price {
	color: #fff;
	text-decoration: line-through;
}
.products-item .price-button .price-frome {
	font-size: 12px;
	text-decoration: none;
}
.price-frome:first-child {
	color: #fff;
}
.products-item .price-button:hover {
	-webkit-box-shadow: 0px 1px 6px 2px #f35ea2;
	-moz-box-shadow: 0px 1px 6px 2px #f35ea2;
	box-shadow: 0px 1px 6px 2px #f35ea2;
}
.products-item:hover {
	-webkit-box-shadow: 0px 1px 6px 2px #901daa;
	-moz-box-shadow: 0px 1px 6px 2px #901daa;
	box-shadow: 0px 1px 6px 2px #901daa;
}
/*Video box*/
.video-box {
	text-align: center;
}
.video-box-title p {
	font-size: 32px;
	text-align: center;
	line-height: 40px;
}
.video-content {
	width: 100%;
	height: 560px;
	margin: 0 auto;
	border: 5px solid #f35ea2;
}
/*Footer products*/
.social-box {
	width: 100%;
	text-align: center;
}
.social-block {
	width: 100%;
	margin: 0 auto;
}
.social-box .social-title {
	color: #2e2d2d;
	font-family: "GothaProMed",sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 48px;
}
/*Subscribe box*/
.form-block .subscribe {
	margin: 0 auto;
	margin-bottom: 3%;
}
.subscribe-box {
	font-family: "GothaProMed",sans-serif;
	text-align: center;
	font-size: 21px;
	font-weight: 400;
}
.subscribe-box .back-to-main-website {
	color: #2e2d2d;
	font-family: "Bookman Old Style";
	font-size: 21px;
	font-weight: 700;
	line-height: 32px;
}
